html,
body {
	height: 100%;
	margin: 0;
	background-image: url('./Blue\ Skies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	overflow-y: auto;
	/* scroll-margin-bottom: 20px; */
	/* margin-bottom: 10px; */
}

body {
}
.container {
	height: auto;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.card {
	width: 500px;
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 1rem;
}

.header {
	text-align: center;
	width: 500px;
}
h1 {
	background-color: steelblue;
	display: flex;
	margin: 0;
	height: 60px;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 400;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

h2 {
	/* text-align: start; */
	align-self: start;
	margin-left: 100px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: 400;
}

.form {
	/* padding: 10px 120px; */
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.form-inputs {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
}

#newTodo {
	padding: 0px 20px;
	width: 300px;
	height: 50px;
	padding-right: 60px;
	box-sizing: border-box;
	font-size: 18px;
}

#newTodo:focus {
	outline: none;
}

#add-btn {
	margin-left: -60px;
	height: 50px;
	width: 60px;
	font-size: 18px;
}

.item-list {
	width: 300px;
	height: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: white;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;

	/* display: flex; */
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	display: flex;
	padding: 5px 0px;
	align-items: center;
}

li > span {
	margin-left: 10px;
	font-size: 18px;
}

.uncheck {
	color: #e0e0e0;
}

.uncheck:hover {
	color: #d8d8d8;
}

.check {
	color: steelblue;
}

.delete-btn {
	margin-left: auto;
	color: #f44336;
}

.delete-btn:hover {
	color: #d83a2f;
}

.strike {
	color: gray;
	text-decoration: line-through;
}
